.__element-grid{
    display: grid;
    grid-template-columns: auto;
    gap: 25px 25px;
    align-items: center;
    justify-items: center;
}

.__element-grid-item{
    @include BorderRounded;
    @include BoxShadowFade(4px, 15px);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.__element-title {
    height: 63px;
    @include CenterAlign;
    position: relative;
}