h1 {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 43.74px;
  margin: 0;
}

h2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}

h3 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
}

h4 {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 18.75px;
  margin: 0;
}

p {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  margin: 0;
  color: #353535;
}

.__element-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 25px 25px;
  align-items: center;
  justify-items: center;
}

.__element-grid-item {
  border-radius: 20px;
  border-width: 0;
  box-shadow: 0px 4px 15px #d9d9d9;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.__modifier-primary-colour {
  color: #9356DC;
}

.__modifier-darken-background {
  color: #909090;
}

.__modifier-button-gradient-round {
  border-radius: 25px;
  border-width: 0;
  box-shadow: 0px 40% 10px #d9d9d9;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 18.75px;
  margin: 0;
  font-weight: 500;
  height: 50px;
  width: 200px;
  margin: 20px;
}

.__modifier-button-round {
  border-radius: 20px;
  border-width: 0;
  box-shadow: 0px 15px 10px #d9d9d9;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  line-height: 18.75px;
  margin: 0;
  height: 75px;
  width: 100%;
  margin: 0;
}

.__modifier-sub-text {
  font-size: 15px;
  line-height: 19.92px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.block-header .__element-location {
  color: #353535;
  background-color: #EAEAEA;
  gap: 17px;
  height: 50px;
}
.block-header .__element-title {
  height: 63px;
  box-shadow: 0px 2px 4px #d9d9d9;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.block-description {
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  padding: 20px;
  gap: 20px;
}
.block-description .__element-subtitle {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.block-instructions {
  padding: 30px 5px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .block-instructions {
    padding: 50px 180px;
  }
}
@media only screen and (min-width: 1650px) {
  .block-instructions {
    padding: 50px 360px;
  }
}
@media only screen and (min-width: 2440px) {
  .block-instructions {
    padding: 50px 720px;
  }
}
.block-instructions .__element-grid {
  padding: 10px;
}
@media only screen and (min-width: 1200px) {
  .block-instructions .__element-grid {
    grid-template-columns: auto auto auto;
    grid-auto-columns: 322px;
  }
}
.block-instructions .__element-grid .__element-grid-item {
  background-color: #F6F6F6;
  height: 75px;
  width: 322px;
}
.block-instructions .__element-grid .__element-grid-item .__element-label {
  display: flex;
  justify-content: flex-start;
  text-wrap: wrap;
  margin-left: 20px;
}
.block-instructions .__element-grid .__element-grid-item .__element-label i {
  padding: 28px;
  position: relative;
}
.block-instructions .__element-grid .__element-grid-item .__element-label .__element-text {
  text-align: left;
  position: relative;
}
.block-instructions .__element-grid .__element-grid-item .__element-numberlabel {
  z-index: 100;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  font-size: 14px;
}
.block-instructions .__element-grid .__element-grid-item .__element-numberlabel i {
  z-index: -1;
  color: #9356DC;
  position: absolute;
  font-size: 25px;
}

.block-restaurants {
  padding: 30px 5px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background-color: #F6F6F6;
}
@media only screen and (min-width: 992px) {
  .block-restaurants {
    padding: 50px 180px;
  }
}
@media only screen and (min-width: 1650px) {
  .block-restaurants {
    padding: 50px 360px;
  }
}
@media only screen and (min-width: 2440px) {
  .block-restaurants {
    padding: 50px 720px;
  }
}
@media only screen and (min-width: 992px) {
  .block-restaurants .__element-grid {
    grid-template-columns: auto auto;
    grid-auto-columns: 490px;
    -moz-column-gap: 10%;
         column-gap: 10%;
  }
}
.block-restaurants .__element-grid .__element-grid-item {
  flex-direction: column;
  height: 250px;
  max-width: 490px;
}
.block-restaurants .__element-grid .__element-grid-item figure {
  margin: 0;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.block-restaurants .__element-grid .__element-grid-item figure img {
  width: 100%;
  height: 190px;
  padding-bottom: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-restaurants .__element-grid .__element-grid-item figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block-restaurants .__element-grid .__element-grid-item figure figcaption * {
  margin: 0;
  padding: 1px 10px;
}
.block-restaurants .__element-grid .__element-grid-item figure .__element-text {
  display: flex;
  flex-direction: column;
}
.block-restaurants .__element-grid .__element-grid-item figure i {
  font-size: 22px;
}

.block-footer * {
  color: white;
}

.block-footer {
  background-color: #353535;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width: 992px) {
  .block-footer {
    flex-direction: row-reverse;
    align-items: center;
  }
}
.block-footer .__element-title {
  font-size: 16px;
}
.block-footer .__element-navbar * {
  text-align: left;
  font-size: 14px;
}
.block-footer .__element-navbar {
  text-align: left;
  justify-content: left;
  align-items: flex-start;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 30px;
}
@media only screen and (min-width: 992px) {
  .block-footer .__element-navbar {
    flex-direction: row;
    align-items: center;
  }
}
.block-footer .__element-navbar .__element-navitem {
  padding-right: 20px;
  display: flex;
}
.block-footer .__element-navbar .__element-navitem i {
  width: 15px;
  padding-right: 10px;
}/*# sourceMappingURL=main.css.map */