.block-header{

    & .__element-location{
    color: $color-gray;
    background-color: $color-gray-two;
    gap: 17px;
    height: 50px;
    }

    & .__element-title{
        height: 63px;
        @include BoxShadowFade(2px, 4px);
        @include CenterAlign;
        position: relative;
    }
}

.block-description{
    height: fit-content;
    @include CenterAlign;
    flex-direction: column;
    background-color: $color-background;
    padding: 20px;
    gap: 20px;

    & .__element-subtitle{
        @include CenterAlign;
        position: relative;
    }
}

.block-instructions{
    height: fit-content;

    @media only screen and (min-width: 992px) {
        padding: 50px 180px 50px 180px;
    }

    & .__element-grid{
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        gap: 25px 25px;

        @media only screen and (min-width: 992px) {
            grid-template-columns: auto auto auto;
            grid-auto-columns: 322px;
        }

        & .__element-grid-item
        {
            display: flex;
            flex-direction: row;
            background-color: $color-background;
            height: 75px;
            border-radius: 20px;
            padding-right: 10px;

            & .__element-label{ 
                display: flex;
                justify-content: flex-start;

                & i{
                    padding: 28px;     
                    position: relative;
                }

                & .__element-buttontext{
                    text-align: left;
                    position: relative;
                }
            }

            & .__element-numberlabel{
                z-index: 100;
                color: white;
                position: relative;
                font-size: 14px;

                & i{
                    z-index: -1;
                    color: $color-primary;
                    position: absolute;
                    font-size: 25px;
                }
            }
        }
    }
}