.page-home{

& .block-loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; /* Set the background color */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: fadeOut 0.5s forwards;
    animation-delay: 2s;
    z-index: 999;
}

& .block-main .__element-location {
    color: $color-gray;
    background-color: $color-gray-two;
    gap: 17px;
    height: 50px;
}

& .block-description {
    height: fit-content;
    @include CenterAlign;
    flex-direction: column;
    background-color: $color-background;
    padding: 20px;
    gap: 20px;

    & .__element-subtitle {
        @include CenterAlign;
        position: relative;
    }
}

& .block-instructions {
    @include BlockSize;

    & .__element-grid {
        padding: 10px;

        @media only screen and (min-width: 1200px) {
            grid-template-columns: auto auto auto;
            grid-auto-columns: 322px;
        }

        & .__element-grid-item {
            display: flex;
            background-color: $color-background;
            height: 75px;
            width: 322px;
            &:hover{
                .__element-label i {color: $color-primary;}
            }

            & .__element-label {
                display: flex;
                justify-content: flex-start;
                text-wrap: wrap;
                margin-left: 20px;

                & i {
                    padding: 28px;
                    position: relative;
                    transition: color 0.2s linear;
                }

                & .__element-text {
                    text-align: left;
                    position: relative;
                }
            }

            & .__element-numberlabel {
                z-index: 100;
                color: white;
                @include CenterAlign;
                position: relative;
                font-size: 14px;

                & i {
                    z-index: -1;
                    color: $color-primary;
                    position: absolute;
                    font-size: 25px;
                }
            }
        }
    }
}

& .block-restaurants {
    @include BlockSize;
    background-color: $color-background;

    & .__element-grid {
        @media only screen and (min-width: 992px) {
            grid-template-columns: auto auto;
            grid-auto-columns: 490px;
            column-gap: 10%;
        }

        & .__element-grid-item {
            flex-direction: column;
            height: 250px;
            max-width: 490px;

            & figure {
                margin: 0;
                overflow: hidden;
                border-radius: 20px 20px 0 0;

                & img {
                    height: 190px;
                    padding-bottom: 5px;
                }

                & figcaption {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }

                & figcaption * {
                    margin: 0;
                    padding: 1px 10px;
                }

                & .__element-text {
                    display: flex;
                    flex-direction: column;
                }

                & button{
                    z-index: 1;         
                }
            }
        }
    }
}
}
