.page-menu{

& .block-header{
    display: flex;
    justify-content: center;

    & form{
        display: flex;
        justify-content: center;
    }
    
    & form *{
        background-color: transparent;
        color: black;
        border: 0;
    }

    & .__element-title{
        margin: auto;
    }
}

& .block-menu{
    @include BlockSizeMenu;
    background-color: $color-background;
    position: relative;
    border: 1px;
    border-radius: 40px 40px 0px 0px;
    gap: 40px;
    padding: 40px 20px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;

    & header{
        display: flex;
        justify-content: space-between;
        @media only screen and (min-width: 992px){
            justify-content: space-evenly;
        }
        flex-direction: row;    
    }

    & .__element-menugrid{
        flex: none;
        display: grid;
        grid-template-columns: none;
        gap: 15px;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        animation-delay: calc(0.5s * var(--index));

        & .__element-grid-item{
            background-color: white;
            min-width: 0;
            min-height: 0;
            overflow: hidden;

            &:hover{
                & .__element-add-button{
                    width: 60px;
                    & i{
                        transform: scale(1.2);
                    }
                }
            }

            & h3{
                margin: 5px 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            & .__element-text{

                & .__element-label {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 98%;
                }        
                & .__element-label * {
                    text-align: start;
                    margin: 0px 0px 5px 5px;
                    font-size: 13px;
                }
            }
        }
    }
}

}