@use 'sass:math';

@mixin CenterAlign{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin TextTitle{
    font-family: $font-header;
    font-style: italic;
    font-weight: 400;
    font-size: nth($list: $fontsize-headers, $n: 1);
    line-height: 43.74px;
    margin: 0;
}

@mixin TextSubtitle{
    font-family: $font-default;
    font-weight: 700;
    font-size: nth($list: $fontsize-headers, $n: 2);
    line-height: 28.13px;
}

@mixin TextHeader{
    font-family: $font-default;
    font-weight: 700;
    font-size: nth($list: $fontsize-headers, $n: 3);
    line-height: 21.09px;
}

@mixin TextEmphasised{
    font-family: $font-default;
    font-weight: bold;
    font-size: nth($list: $fontsize-headers, $n: 4);
    @include CenterAlign;
    line-height: 18.75px;
    margin: 0;
}

@mixin TextParagraph{
    font-family: $font-default;
    font-weight: 300;
    font-size: $fontsize-paragraph;
    line-height: 21.09px;
    margin: 0;
    color: $color-gray;
}

@mixin BoxShadowFade($length: 4px, $blur: 10px, $opacity: 15%){
    box-shadow: 0px $length $blur lighten($color-shadow-base, 100% - $opacity);
}

@mixin BorderRounded($border-size: 20px){
    border-radius: $border-size;
    border-width: 0;
}

@mixin ButtonRounded{
    @include BorderRounded;
    @include BoxShadowFade(15px);
    @include TextEmphasised;
}

@mixin ButtonGradientRounded{
    @include BorderRounded(25px);
    @include BoxShadowFade(40%);
    @include PrimaryGradient;
    @include TextEmphasised;
    font-weight: 500;
}

@mixin PrimaryGradient{
    background: linear-gradient($color-pink, $color-primary);
    color: white;
}

@mixin BlockSize{
    padding: 30px 5px;
    height: fit-content;
    @media only screen and (min-width: 992px) { padding: 50px 180px;}
    @media only screen and (min-width: 1650px) { padding: 50px 360px;}
}