$color-pink: #FF79DA;
$color-green: #99E2D0;
$color-greenFont: #008766;
$color-blue: #89C8FA;
$color-blue-two: #003A68;
$color-primary: #9356DC;
$color-background: #F6F6F6;
$color-gray: #353535;
$color-gray-two: #EAEAEA;
$color-shadow-base: #000000;

$font-header: "Shrikhand", serif;
$font-default: "Roboto", serif;

$fontsize-headers: 28px, 24px, 18px, 16px;
$fontsize-paragraph: 18px;

$borderradius-button: 25px;